.faqs-section {
	background: var(--dark--background);
	color: var(--light--background);
	padding: 3rem 0;

	h2 {
		color: #fff;
		font-weight: bold;
		text-align: center;
	}

	.accordion-button {
		background: var(--primary--blue);
		color: var(--light--background);
		font-weight: bold;
		border: none;
		border-radius: 0.5rem 0.5rem 0 0;
		box-shadow: none;

		&:not(.collapsed) {
			background: var(--magenta);
			color: var(--light--background);
		}
	}

	.accordion-body {
		background: rgba(255, 255, 255, 0.10);
		color: var(--dark--background);
		border-radius: 0 0 0.5rem 0.5rem;
	}

	.accordion-item {
		border: none;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		overflow: hidden;
	}
}